<%- include('../partials/header') %>

<p id="hometext" class="text page-align">You arrived at Index.</p>

<img id="link"src="./assets/link.jpg"alt="background home image"></img>

<h1 class="pagetitle"></h1>

<%- include('../partials/footer') %>
